* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

h1 {
    font-size: 45px;
}

.chicken {
    background-image: url("/chicken.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

#welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inputs {
    position: relative;
    top: 3vh;
}

.button-83 {
    position: relative;
    top: 3vh;
    /* left: 2vw; */
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1),
        0px 2px 2px rgba(81, 41, 10, 0.2);
}

.button-83:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
        0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

.button-83:focus {
    box-shadow: rgba(72, 35, 7, 0.46) 0 0 0 4px,
        -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

input {
    font-size: 30px;
    color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

input:focus {
    outline: none;
}

.profilePic {
    border: black 2px solid;
    border-radius: 25%;
    height: 6vh;
    width: 6vh;
    position: relative;
    top: 1vh;
    right: 1vw;
    object-fit: cover;
}

.topElement {
    width: 100%;
    height: 8vh;
    background-color: rgb(211, 206, 206);
}

.insideElements {
    height: 6vh;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px 10px;
}

.hamburger {
    position: relative;
    top: 1vh;
    left: 0vw;
    height: 12vh;
    width: 12vh;
}

.mainProfilePic {
    border: black 7px solid;
    position: relative;
    /* top: 3vh; */
    width: 30%;
    height: 400px;
    /* border-radius: 50%; */
    padding: 4px;
    object-fit: cover;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35px;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleBird {
    text-align: center;
    position: relative;
    top: 30px;
}

.dateAndTime {
    font-style: italic;
    font-size: 12px;
}

.nameOf {
    font-style: oblique;
}

.message {
    font-size: 20px;
}

/* .imageName {
    position: relative;
    top: 55vh;
} */

.linkButton {
    position: relative;
    top: 20vh;
}

.bio {
    position: relative;
    top: 17vh;
}

.textArea {
    position: relative;
    top: 17vh;
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.userPhoto {
    position: relative;
    top: 5vh;
    font-size: 35px;
}

.searchQuery {
    position: relative;
    left: 1vh;
    top: 2vh;
}

.findProfilePic {
    position: relative;
    top: 5vh;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    padding: 4px;
    object-fit: cover;
}

.searchLink {
    position: relative;
    top: 1vh;
    left: 65%;
}

.otherProfileBio {
    text-align: center;
    position: relative;
    top: 25vh;
    height: 30%;
    width: 50%;
}

.side-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.modal {
    background-color: salmon;
    position: relative;
    top: -400px;
    z-index: 1000;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    text-align: center;
}

.bioEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yourProfilePic {
    border: black 7px solid;
    position: relative;
    width: 30%;
    height: 50vh;
    border-radius: 25%;
    padding: 4px;
    object-fit: cover;
}

.editText {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    height: 200px;
}

.textArea {
    order: 2;
}

.wannabees {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
    top: 7vh;
}

.accept {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleProfile {
    font-size: 40px;
}

.messageBox {
    height: 25vh;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.outerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatImage {
    border-radius: 50%;
    object-fit: cover;
}

.friendImage {
    border-radius: 25%;
}

.bio {
    font-size: 30px;
}

.editTextBio {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    /* align-items: center; */
    /* align-content: space-between; */
    /* justify-content: center; */
    height: 200px;
}

.bio {
    position: relative;
    top: 10px;
}
